@model MiniFB.Models.LoginModel

<link href="~/Content/Login.css" rel="stylesheet" />

<section id="loginForm">
<h2>Använd dina befintliga inloggningsuppgifter eller registrera ett nytt konto nedan.</h2>
@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)*@

    <div class="row-fluid">
        <div class="span3"></div>
                <div class="thumbnails span6 div-loginForm">
                    <div class="thumbnail loginform-thumbnail">
                        <section>
                        @using (Html.BeginForm("Login", "Account")) {
                            @Html.AntiForgeryToken()

                            <fieldset>
                                <legend>Logga in med dina befintliga användaruppgifter</legend>
                                <ol class="registerform-table">
                                        <strong>@Html.ValidationSummary(true)</strong>
                                    <li class="registerform-list">
                                        @Html.LabelFor(m => m.UserName)
                                        @Html.TextBoxFor(m => m.UserName)
                                        @Html.ValidationMessageFor(m => m.UserName)
                                    </li>
                                    <li class="registerform-list">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password)
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </li>
                                    <li class="registerform-list">
                                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox" })
                                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox-label" })
                                    </li>
                                </ol>
                                <div class="form-btns">
                                    <input type="submit" value="Logga in" class="btn LogIn" />
                                    @*<button class="btn RegBtn">@Html.ActionLink("Registera dig", "Register", "Account")</button>*@
                                </div>

                                <p class="pull-right regLink">
                                    @Html.ActionLink("Register", "Register") if you don't have an account.
                                </p>

                            </fieldset>
                        }
                        </section>

                        @*<section class="social" id="socialLoginForm">
                            <h2>Use another service to log in.</h2>
                            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                        </section>*@

                        @*@section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }*@
                    </div>
                </div>
            <div class="span3"></div>
        </div>
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
