<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - MiniFB</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrap/css")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/font-awesome-ie7.css" rel="stylesheet" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />
        <link href="~/Content/Base.css" rel="stylesheet" />
        <link href="~/Content/Theme.css" rel="stylesheet" />
        @RenderSection("styles", required: false)
    </head>

    
    <body>

        @*<div class="navbar fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="/">Mini FB</a>
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="divider-vertical"></li>
                            @Html.MenuLink("Home", "Index", "Home")
                            <li class="divider-vertical"></li>
                            @Html.MenuLink("NewsFeed", "Index", "NewsFeed")
                            <li class="divider-vertical"></li>
                            @Html.MenuLink("RandomChat", "Index", "Chat")
                            <li class="divider-vertical"></li>
                        </ul>
                        <form class="navbar-search">
                            <input type="text" class="search-query" placeholder="Search">
                        </form>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>*@

        @Html.Partial("_LoginPartial")

        <div class="container-fluid">
            <div style="display:none;">@RenderSection("featured", required: false)</div>
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer class="fixed-bottom">
            <div class="container-fluid" id="footerlinks">
                <div class="row-fluid">
                    <p class="trademark pull-left">&copy; @DateTime.Now.Year - MiniFB</p>

                    @* ParialView for chat*@
                    @Html.Partial("~/Views/chat/ChatWindowPartial.cshtml")

                    <div class="footerlinks-table">
                        <ul id="footerlinks-list">
                            <li>Link 1</li>
                            <li>Link 2</li>
                            <li>Link 3</li>
                            <li>Link 4</li>
                            <li>Link 5</li>
                        </ul>
                    </div>
                    
                </div>
                @*<div class="pull-right social-buttons">
                    <ul class="like-buttons">
                        <li class="fb-like">
                            <div id="fb-root"></div>
                            <div class="fb-like" data-href="http://localhost:6113/NewsFeed" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                        </li>
                        <li class="twitter-like">
                            <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= url %>" data-count="true">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                        </li>   
                        <li class="g-plus-one">
                            <g:plusone></g:plusone>
                        </li>
                    </ul>
                </div>*@
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap/js")
        @RenderSection("scripts", required: false)

        @*<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        <script>(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/sv_SE/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>*@

        <script src="~/Scripts/chat/chatWindow.js"></script>
@*        <script>
            $('.search-query').typeahead() 
        </script>*@

    </body>
</html>
