@{
var _userRepo = new MiniFB.Models.Repositories.Repository<MiniFB.Models.Entities.User>();
MiniFB.Models.Entities.User user = _userRepo.FindAll(u => u.UserName == User.Identity.Name).FirstOrDefault();
}

@if (Request.IsAuthenticated)
{
   
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()
    }
    <div id="main-wrapper"></div>
    <div class="navbar fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                @Html.ActionLink("Mini FB", "Index", "Newsfeed", routeValues: null, htmlAttributes: new { @class = "brand"})
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                @Html.Partial("~/Views/chat/ChatWindowDropdownPartial.cshtml")
                <div class="nav-collapse collapse">
                    <hr class="divider-vertical-navbar" />
                    <ul class="nav left-nav">
                        <li class="divider-vertical"></li>
                            @Html.MenuLink("RandomChat", "Random", "Chat")
                        <li class="divider-vertical"></li>
                            @Html.MenuLink("Chat", "Index", "Chat")
                    </ul>    
                    <form class="navbar-search pull-left">
                        <input type="text" class="search-query" placeholder="Search" @*data-provide="typeahead" autocomplete="off" data-source="["Ahmedabad","Akola","Asansol","Aurangabad","Bangaluru","Baroda","Belgaon","Berhumpur","Calicut","Chennai","Chapra","Cherapunji"]"*@>
                    </form>
                    <ul class="nav pull-right right-nav">
                        <li class="divider-vertical"></li>
                        <li class="profile-link">@Html.ActionLink(User.Identity.Name, "Index", "Profile", routeValues: null, htmlAttributes: new { @class = "username", title = "Din profil."})</li>  
                        <li class="logout-link"><a href="javascript:document.getElementById('logoutForm').submit()">Log off<i class="icon-signout"></i></a></li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown settings-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-cog"></i>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Redigera profil", "Edit", "Profile", new {id = user.ID }, htmlAttributes: new { title = "Gå till din profil" })</li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off<i class="icon-signout"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
}
else
{
    <div class="navbar fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                @Html.ActionLink("Mini FB", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "brand"})
                <a @*class="btn btn-navbar"*@ data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}