@model IEnumerable<MiniFB.Models.Entities.NewsFeedItem>

@{
    ViewBag.Title = "NewsFeed Items";
}

@foreach (var item in Model) {
<div class="newsfeed-items media">
    <img class="pull-left media-object" src="@item.User.ProfileImageUrl" />
    <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-wrench"></i><em>  </em>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Edit</a></li>     
            <li><a href="#">Delete</a></li>
            <li><a href="#">Report</a></li>
        </ul>
    </div>
    <div class="media-body status-div">
        <div class="profile-name">
            <b>
                @if (item.User != null )
                {
                    @Html.ActionLink(item.User.UserName, "Index", "Profile", new { username = item.User.UserName }, null)
                }
            </b>
        </div>
        <div class="item-content">
            @Html.DisplayFor(modelItem => item.Content) 
        </div>
        <div class="item">
            @if (item.ItemType == 2) 
            {
                <div class="media-image">
                    <img src="@Html.DisplayFor(modelItem => item.Data)" alt="" />
                </div>
            }
            @if (item.ItemType == 3) 
            {
                <div class="media-video">
                    <iframe src="@Html.DisplayFor(modelItem => item.Data)" frameborder="0" allowfullscreen></iframe>
                </div>
            }
            @if (item.ItemType == 4)
            {
                <div class="media-link">
                    <a href="@Html.DisplayFor(modelItem => item.Data)">@Html.DisplayFor(modelItem => item.Data)</a>
                </div>
            }
        </div>  
    </div>
    <div class="like-comment-buttons">
            <button title="Kommentera" class="comment-button btn btn-small icon-pencil" onclick="ShowCommentForm('@item.ID')"></button>
		    <button title="Gilla" class="btn btn-small icon-thumbs-up"></button>

            @if (item.ItemType == 1)
            {
            <span class="label status">
                @Html.DisplayFor(modelItem => item.GetItemTypeStr)
            </span>
            }

            @if (item.ItemType == 2)
            {
            <span class="label image">
                @Html.DisplayFor(modelItem => item.GetItemTypeStr)
            </span>
            }

            @if (item.ItemType == 3)
            {
            <span class="label video">
                @Html.DisplayFor(modelItem => item.GetItemTypeStr)
            </span>
            }

            @if (item.ItemType == 4)
            {
            <span class="label link">
                @Html.DisplayFor(modelItem => item.GetItemTypeStr)
            </span>
            }    
        </div>
    <div class="comment-wrapper" id="comments-@item.ID">
        <ul class="comments-list">
            <li class="muted pull-right">
                Skapad: @Html.DisplayFor(modelItem => item.Created)@* Uppdaterad: @Html.DisplayFor(modelItem => item.Modified)*@
            </li>
         @if (item.Comments != null)
         {
             <li>Ingen har gillat detta.</li>
             foreach (var comment in item.Comments.OrderBy(u => u.Created).Take(5))
             {
                 <li>
                    <strong>@comment.CommentWriter:</strong> @comment.Message
                 </li>
             }
         }
        </ul>

        <ul id="comment-hidden-@item.ID" class="comments-list-hidden" style="display:none;">
         @if (item.Comments != null)
         {
             foreach (var comment in item.Comments.OrderBy(u => u.Created).Skip(5))
             {
                 <li><strong>@comment.CommentWriter:</strong> @comment.Message</li>
             }
         }
        </ul>
        @if (item.Comments.Count > 5)
        {
                 <ul><li><a class="showCommentsButton" onclick="showAllComments('@item.ID')">Visa fler kommentarer</a></li></ul>
        }
    </div>
    <div class="comment-form" id="comment-form-@item.ID">
       <input type="text" class="commenttext" name="commenttext" id="commenttext-@item.ID" value="" placeholder="Kommentera..." />
       <input class="btn submit-comment" type="button" name="post-comment-submit" value="Skicka" onclick="SendComment('@User.Identity.Name', '@item.ID')" />
       <input type="hidden" id="newsfeedid" name="newsfeedid" value="@item.ID" />
    </div>
</div>
<hr />
}



