@model IEnumerable<MiniFB.Models.Entities.NewsFeedItem>

@{
    ViewBag.Title = "NewsFeed Items";
}

@foreach (var item in Model) {
<div class="newsfeed-items media">
    <img class="pull-left media-object" src="@item.User.ProfileImageUrl" width="80" height="80" />
    
    <div class="media-body">
        <div>
            <b>
                @if (item.User != null )
                {
                    @Html.ActionLink(item.User.UserName, "Index", "Profile", new { username = item.User.UserName }, null)
                }
            </b>
        </div>
        
        @if (item.ItemType == 2) 
        {
            <div class="media-image">
                <img src="@Html.DisplayFor(modelItem => item.Data)" alt="" />
            </div>
        }
        @if (item.ItemType == 3) 
        {
            <div class="media-video">
            <iframe src="@Html.DisplayFor(modelItem => item.Data)" frameborder="0" allowfullscreen></iframe>
            </div>
        }
        @if (item.ItemType == 4)
        {
            <div class="media-link">
                <a href="@Html.DisplayFor(modelItem => item.Data)">@Html.DisplayFor(modelItem => item.Data)</a>
            </div>
        }
        <div>
            @Html.DisplayFor(modelItem => item.Content) 
        </div>
        <div class="btn-group">
          <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown" >
              <i class="icon-wrench"></i><em>  </em>
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
                <li><a href="#">Edit</a></li>     
                <li><a href="#">Delete</a></li>
                <li><a href="#">Report</a></li>
          </ul>
        </div>
        <button title="Kommentera" class="comment-button btn btn-small icon-pencil"></button>
		<button title="Gilla" class="btn btn-small icon-thumbs-up"></button>
        <small class="muted">
            @if (item.ItemType == 1)
            {
            <span class="label status">
                @Html.DisplayFor(modelItem => item.GetItemTypeStr)
            </span>
            }

            @if (item.ItemType == 2)
            {
            <span class="label image">
                @Html.DisplayFor(modelItem => item.GetItemTypeStr)
            </span>
            }

            @if (item.ItemType == 3)
            {
            <span class="label video">
                @Html.DisplayFor(modelItem => item.GetItemTypeStr)
            </span>
            }

            @if (item.ItemType == 4)
            {
            <span class="label link">
                @Html.DisplayFor(modelItem => item.GetItemTypeStr)
            </span>
            }    
            Skapad: @Html.DisplayFor(modelItem => item.Created) Uppdaterad: @Html.DisplayFor(modelItem => item.Modified)
        </small>
    </div>

    
</div>
<hr />
}



