@model MiniFB.Models.Entities.User

@{
    ViewBag.Title = "Byta lösenord";
}

<h2>Byta lösenord</h2>

@using (Html.BeginForm()) {
    
    @Html.AntiForgeryToken()

    <div class="span12">

        <div>
            @Html.HiddenFor(model => model.ID)
            Gammalt Lösenord: <br />
            <input type="password" name="oldpassword" required="required" value="" /><br />
            Nytt Lösenord:<br />
            <input type="password" name="newpassword" required="required" value="" /><br />
            Upprepa nytt Lösenord:<br />
            <input type="password" name="confirmpassword" required="required" value="" /><br />

        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Spara" />
            @Html.ActionLink("Avbryt", "Edit", "Profile", new { id = Model.ID }, new { @class = "btn" })
        </p>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
