@model MiniFB.Models.Entities.User

@{
    ViewBag.Title = "Byta lösenord";
}

<h2>Byta lösenord</h2>

@using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { id="change-pw-form" }))
{
    
    @Html.AntiForgeryToken()

    <div class="span12">
        @if (ViewBag.msg != null)
        {
            <div style="color:red;">@ViewBag.msg</div>
        }
        <div>
            @Html.HiddenFor(model => model.ID)
            Gammalt Lösenord: <br />
            <input type="password" name="oldpassword" id="oldpassword" value="" /><p id="oldMessage" style="display:none; color:red;"> Du måste fylla i detta fält. </p><br />
            Nytt Lösenord:<br />
            <input type="password" name="newpassword" id="newpassword" value="" /><p id="newMessage" style="display:none; color:red;"> Du måste fylla i detta fält. </p><br />
            Upprepa nytt Lösenord:<br />
            <input type="password" name="confirmpassword" id="confirmpassword" value="" /><p id="confirmMessage" style="display:none; color:red;"> Lösenorden stämmer inte överens. </p><br />

        </div>

        <p>
            <input type="submit" id="submit" class="btn btn-primary" value="Spara" />
            @Html.ActionLink("Avbryt", "Edit", "Profile", new { id = Model.ID }, new { @class = "btn" })
        </p>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/changepwval.js" type="text/javascript"></script>
        
}
