@model MiniFB.Models.Entities.User

@{
    ViewBag.Title = "Inställningar - MiniFB";
}
<div class="row">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
    <div id="profile-setting-wrapper" class="span6">
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.UserName)

        <div class="editor-label">
            <label for="FirstName">Fullständigt namn</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "span2" })
            @Html.TextBoxFor(model => model.LastName, new { @class = "span2" })
            @Html.ValidationMessageFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email, new { @class = "span3" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sex)
        </div>
        <div class="editor-field">
            <div id="test-group" class="btn-group" data-toggle="buttons-radio" data-toggle-name="Sex">
                <input type="hidden" name="Sex" id="Sex" value="@Model.Sex"/>
                <button id="button-man" type="button" class="btn sex-button-male" data-toggle-value="Man">
                    <img class="sex-icon" src="~/Content/images/sex_male_32.png" alt="Male icon" />Man</button>
                <button id="button-kvinna" type="button" class="btn sex-button-female" data-toggle-value="Kvinna">
                    <img class="sex-icon" src="~/Content/images/sex_female_32.png" alt="Female icon" />Kvinna</button>
            </div>
            @Html.ValidationMessageFor(model => model.Sex)
        </div>
        <div class="spacer"></div>
        <div>@Html.ActionLink("Byt lösenord", "ChangePassword", new { id = Model.ID }, new { @class = "btn" })</div>

        <div id="profile-save-cancel-buttons">
            @Html.ActionLink("Tillbaka", "Index",null, new { @class = "btn" })
            <input type="submit" class="btn btn-success" value="Spara inställningar" />            
        </div>
    </div>
    
    <div id="profile-img-wrapper" class="span6">
        <div id="profile-img-preview">
            <img src="http://placehold.it/300x300" class="img-polaroid">
        </div>
        
        <div id="profile-img-buttons">
            <script>
                function getFile() {
                    document.getElementById("image-input").click();
                }
            </script>
            
            <p class="btn" onclick="getFile()">Ladda upp bild</p>
    
            <input style="display:none;" id="image-input" name="image-input"  type="file" value=""/>
    
            <p class="btn btn-danger">Ta bort bilden</p>
        </div>
        
    </div>
}
</div>



<link href="~/Content/Profile.css" rel="stylesheet" />


@section Scripts {
    <!-- Detta är ett test script och det skall läggas i en sepparat .js senare! -->
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            
            $('div.btn-group[data-toggle-name]').each(function () {
                var group = $(this);
                var form = group.parents('form').eq(0);
                var name = group.attr('data-toggle-name');
                var hidden = $('input[name="' + name + '"]', form);
                $('button', group).each(function () {
                    $(this).on('click', function () {
                        hidden.val($(this).data("toggle-value"));
                    });
                });
            });


            if($('#Sex').val() == "Man") {
                $('#button-man').addClass("active");
            } else if($('#Sex').val() == "Kvinna") {
                $('#button-kvinna').addClass("active");
            }


            //$("#BirthDate").datepicker();


        });
    </script>
}


        