@model IEnumerable<MiniFB.Models.Entities.NewsFeedItem>

<link href="~/Content/newsfeed.css" rel="stylesheet" />
<script src="~/Scripts/newsfeed/main.js"></script>

<div class="row-fluid">
    <div class="span3"></div>
    <div class="span6 newsfeed-btn-header">
        <div class="btn-group">
            @Html.ActionLink("Ny Status", "Create", "NewsFeedItem", new { ItemType = 1 }, new { @class = "btn btn-success" })
            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            <li><a href="@Url.Action("Create", "NewsFeedItem", new { ItemType = 1 })">Status</a></li>
            <li><a href="@Url.Action("Create", "NewsFeedItem", new { ItemType = 2 })">Bild</a></li>
            <li><a href="@Url.Action("Create", "NewsFeedItem", new { ItemType = 3 })">Video</a></li>
            <li><a href="@Url.Action("Create", "NewsFeedItem", new { ItemType = 4 })">Länk</a></li>
            </ul>
        </div>

        @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "btn-group newsfeed-sorting", @data_toggle = "buttons-radio" }))
        {
            <button type="submit" class="btn btn-primary @(ViewBag.active != null && ViewBag.active == 1 ? "active" : "")" name="filter" value="status">Status</button>
            <button type="submit" class="btn btn-primary @(ViewBag.active != null && ViewBag.active == 2 ? "active" : "")" name="filter" value="image">Bilder</button>
            <button type="submit" class="btn btn-primary @(ViewBag.active != null && ViewBag.active == 4 ? "active" : "")" name="filter" value="link">Länkar</button>
            <button type="submit" class="btn btn-primary @(ViewBag.active != null && ViewBag.active == 3 ? "active" : "")" name="filter" value="video">Videor</button>
        }
        <hr />
    </div>
    <div class="span3"></div>
</div>

<div class="row-fluid">
    <div class="span3"></div>
    <div class="span6">  
        <div class="newsfeed-container">
        @Html.Partial("_NewsFeedItems", Model)
        </div>
    </div>
    <div class="span3"></div>
</div>

@section scripts {
    @Scripts.Render("~/newsfeed/index")
}