@model IEnumerable<MiniFB.Models.Entities.Image>

@{
    ViewBag.Title = "Gallery";
}

<h2>Gallery</h2>

<p>
    @Html.ActionLink("Upload New", "Index")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.FileName, "ImageDisplay", new { ID = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
    </tr>
}

</table>
