@model MiniFB.Models.Entities.NewsFeedItem

@{
    ViewBag.Title = "Skapa Nyhetsinlägg";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>
        @switch((int)ViewBag.type)
        {
            case 1:
                @:Status
                break;
            case 2:
                @:Bild
                break;
            case 3:
                @:Video
                break;
            case 4: 
                @:Länk
                break;
            default:
                break;
        }
        </legend>

        <div class="editor-field">
            <input type="hidden" name="ItemType" value="@ViewBag.type" />
            @Html.ValidationMessageFor(model => model.ItemType)
        </div>

        @if (ViewBag.type == 2)
        {
            @:Förhandsvisning:
            <div class="image-preview">
                <img id="img-pre" class="img-polaroid" src="http://placehold.it/480x240" alt="">
            </div>
        }

        @if (ViewBag.type != 1) 
        {
            <div class="editor-label">
                @Html.LabelFor(m => m.Data, Model.GetItemTypeStr)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Data)
            </div>
            
            <div id="video-preview" class="hide">
                <div>PREVIEW:</div>
                
                <iframe id="preview-iframe"  width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
            </div>
        }

        

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <p>
            <input type="submit" value="Skapa" class="btn" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Tillbaka till nyhetsflöde", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/newsfeeditem/create.js")"></script>
}
